[submodule "ghostty"]
	path = ghostty
	url = https://github.com/manaflow-ai/ghostty.git
	branch = main
[submodule "homebrew-cmux"]
	path = homebrew-c11mux
	url = https://github.com/Stage-11-Agentics/homebrew-c11mux.git
[submodule "vendor/bonsplit"]
	path = vendor/bonsplit
	url = https://github.com/Stage-11-Agentics/bonsplit.git
